<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<!--Create a form to take input from user-->
<form action="/store/add" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" value="<%= name %>"/></td>
        </tr>
        <tr>            
        <td>UserId</td>
            <td><input type="text" name="UserId" value="<%= userid %>"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" name="password" value="<%= password %>"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Add"/></td>
        </tr>
    </table>
</form>